dash==2.3.*
dash_bootstrap_components==1.1.*
alpha_vantage==2.3.*
newsapi-python==0.2.*
pandas==1.4.*
scikit-learn==0.23.*
sqlalchemy==1.4.*
Flask-Caching==1.10.*
beautifulsoup4==4.11.*
dateparser==1.1.*
lxml>=4.6.5
html5lib==1.1.*
pytest==7.1.*
flake8==4.0.*
selenium==4.1.*
python-dotenv==0.20.*
